.root {
  padding: 20px 20px 16px 20px;
  height: 76px;
}

.listMainArea {
  height: 100%;
  display: flex;
}

.leftSide {
  height: 100%;
  flex-grow: 3;
  border-right: 1px solid rgb(230, 230, 230);
}

.rightSide {
  height: 100%;
  flex-grow: 2;
  width: 50%;
  max-width: 600px;
}

@media (max-width: 960px) {
  .rightSide {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: #2525254d;
    z-index: 600;
    width: 100%;
    max-width: initial;
  }
}

.infoPaper {
  padding: 32px 24px;
  margin: 8px;
  border-radius: 15px !important;
}

@media (max-width: 960px) {
  .infoPaper {
    height: calc(100% - 16px)
  }
}

.closeInfo {
  display: none !important;
}

@media (max-width: 960px) {
  .closeInfo {
    display: block !important;
    position: absolute !important;
    right: 16px;
    top: 16px;
  }
}

.listContainer {
  height: calc(100% - 60px);
}

.title {
  margin-top: 15px !important;
}

.button {
  float: right !important;
  margin-left: 24px !important;
}